/* Google fonts: Inter, Monteserrat */
@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

/* header */
#logo {
    max-width: 200px;
    height: auto;
    padding: 10px;
}

#hero {
    border-radius: 1%;
}

.navbar-nav .nav-link {
    color: #01036A;
    font-size: 20px;
}

/* Adds underline to a current page link in the navbar */
.nav-link.active {
    text-decoration: underline;
}

/* Footer */
.copyright, .trademark {
    color: #01036A;
}

.table-responsive {
    font-family: "Inter", sans-serif ;
}